<layout name="layout"/>
<div class="header-ban"></div>	
<include file="shared:header"/>
<div class="jread">
<span class="visible-md-block visible-lg-block">
<div class="j-left">
	<img src="__ROOT__/script/images/rb1.jpg" width="100%" height="50%">
	<div class="content-box">
		<div class="title"><h5><strong>彭博商业周刊</strong></h5></div>
		<div class="content">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《彭博商业周刊》（Bloomberg Businessweek）作为一本为中国商业精英量身定制的国际商业周刊， 致力于为您提供全球视角的深度报道及分析， 助您在全球范围内更好地发现与把握投资与商业机遇。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商业周刊注重新闻性、前瞻性、深度和观点, 以洞见和趣味服务于全球化新经济时代的读者。 中国角度看世界, 国际视野看中国，借助彭博社遍布在全球 72 个国家与地区的 146 个记者站与 2,300 多名新闻和多媒体专业人员, 以及一流本土采编团队, 提供富有洞见的原创商业报道。</p>
		</div>
	</div>
</div>

<div class="j-right">
	<div class="tag-title"><span class="label label-default">热门推荐</span></div>
		<div class="media">
		<hr class="hr-01">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/128x80" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

      	<h4 class="media-heading"><a href="">互联网的商务普及</a></h4>
      	Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
		<div class="icon-play">播放</div>
    </div>
    <div class="media">
		<hr class="hr-02">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

        <h4 class="media-heading">互联网的商务普及</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
		<div class="icon-play">播放</div>
    </div>
    <div class="media">
		<hr class="hr-03">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

        <h4 class="media-heading">的商务普及</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
		<div class="icon-play">播放</div>
    </div>
    <div class="media">
		<hr class="hr-04">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

        <h4 class="media-heading">互联网的商务普及</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
		<div class="icon-play">播放</div>
    </div>

	
</div>
</span>
<span class="visible-xs-block visible-sm-block">
<div class="xs-sm-j-right">
	<div class="tag-title"><span class="label label-default">热门推荐</span></div>
		<div class="media">
		<hr class="hr-01">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/128x80" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

      	<h4 class="media-heading"><a href="">互联网的商务普及</a></h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
    </div>
    <div class="media">
		<hr class="hr-02">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

        <h4 class="media-heading">互联网的商务普及</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
    </div>
    <div class="media">
		<hr class="hr-03">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

        <h4 class="media-heading">的商务普及</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
    </div>
    <div class="media">
		<hr class="hr-04">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="128x80" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 128px; height: 80px;">
      </a>
      <div class="media-body">

        <h4 class="media-heading">互联网的商务普及</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 

      </div>
    </div>

	
</div>
</span>
</div>

<div class="clear"></div>
<div class="footer-ban"></div>	



