<layout name="layout"/>
<div class="header-ban"></div>  
<include file="shared:header"/>
<div class="wrapper">

<span class="visible-lg-block">
<include file="shared:bookshelf_left"/>
</span>
<span class="visible-lg-block visible-md-block">
<div class="indiv-content">
<include file="shared:individual_head"/>
	<div class="basic-content">
		<ul>
			<li>
      <input type="text" class="form-control" placeholder="Username">
    </li>
			<li><textarea style="width:100%;min-height:100px;"></textarea></li>
			<li><textarea style="width:100%;min-height:100px;"></textarea></li>
			<li><textarea style="width:100%;min-height:100px;"></textarea></li>
			<li><button type="button" class="btn btn-default">保存</button></li>
		</ul>
	</div>

</div>
</span>



</div>
