<layout name="layout"/>
<div class="header-ban"></div>  
<include file="shared:header"/>
<div class="wrapper">

<span class="visible-lg-block">
<include file="shared:bookshelf_left"/>
</span>
<span class="visible-lg-block visible-md-block">
<div class="indiv-content">
	<include file="shared:individual_head"/>
	
	<div class="head-content">
		<div class="now-head">

			<div class="col-md-6">
				<div><strong>当前头像</strong></div>
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b1.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
		</div>
		<div class="new-head">
		<ul>
			<li><strong>设置新头像</strong></li>
			<li class="gray">支持jpg、png、gif、bmp格式，可以再大照片中裁剪满意部分</li>
			<li><button type="button" class="btn btn-default">选择图片</button></li>
			<li><textarea style="width:100%;min-height:100px;"></textarea></li>
			<li><button type="button" class="btn btn-default">保存头像</button></li>
		</ul>
		</div>
	</div>

</div>
</span>



</div>
