<layout name='layout'/>
<import type='js' file='js.mrling'/>
<script type="text/javascript">
   $(function(){
    textcut();
 })
</script>
<div id="container">
    <div id="container_box">
            <div id="center_centent">
                
                <div id="author_time" >
                
                <?php
                $map['tag'] = array('like','%'.$tagid.'%');
            //dump($map['tag']);
            $n=0;
            $m=0;
            $arr_m=$fun->seach($mood,6,false,"now desc",$map);
            $arr_s=$fun->seach($skill,6,false,"now desc",$map);
            $arr_mood=$arr_m['selectArticle'];
            $arr_skill=$arr_s['selectArticle'];
            $page_mood=$arr_m['show'];
            $page_skill=$arr_s['show'];
            //dump($arr_mood);
            //$arr_seach=$fun->seach($user,6,false,"now desc",$map);
            echo "<div class='tagresult'>--以下是检索标签：【".$selecttag[0]['tagname']."】得到的所有结果--</div>";
            echo "<div class='tagresult'>--【时光荏苒】返回的结果--</div>";
            if(empty($arr_mood)){
                echo "<div class='tagresult'>没有获得任何数据……</div>";
            }
            for($a=0;$a<count($arr_mood);$a++){
                $source=$arr_mood[$a]['tag'];
                $taglist = explode(',',$source);
                //dump($taglist);
                
                for($index=0;$index<count($taglist);$index++){ 
                    
                    if($tagid==$taglist[$index]){
                            $n++;
                            //dump($arr_mood[$a]['title']);
                            echo "<div class='pancel'>";
                            echo "<div class='title'> <a id='title_a' href='__ROOT__/mood/".$Easycode->encode($arr_mood[$a]['id'])."'>".$arr_mood[$a]['title']."</a></div>";
                            echo "<span class='author'>".$arr_mood[$a]['author']."</span>";
                            echo "<span class='time'>".$arr_mood[$a]['now']."</span>";
                            echo "<span class='ds-thread-count' data-thread-key='".$Easycode->encode($arr_mood[$a]['id'])."' data-count-type='comments' ></span>";
                            echo "<span class='readed'>阅读：(".$arr_mood[$a]['readed'].")</span>";
                            echo "</div>";

                            echo "<hr/><div class='box'><div id='content_index'><span>".$arr_mood[$a]['content']."</span></div></div>";
                
                
                    }
                    
                } 
                
                
            }
            
            echo "<div class='tagresult'>--【一技分享】返回的结果--</div>";
            if(empty($arr_skill)){
                echo "<div class='tagresult'>没有获得任何数据……</div>";
            }
            for($a=0;$a<count($arr_skill);$a++){
                $source=$arr_skill[$a]['tag'];
                $taglist = explode(',',$source);
                
                
                for($index=0;$index<count($taglist);$index++){ 
                    
                    if($tagid==$taglist[$index]){
                            $m++;
                            //dump($arr_skill[$a]['title']);
                            echo "<div class='pancel'>";
                            echo "<div class='title'> <a id='title_a' href='__ROOT__/skill/".$Easycode->encode($arr_skill[$a]['id'])."'>".$arr_skill[$a]['title']."</a></div>";
                            echo "<span class='author'>".$arr_skill[$a]['author']."</span>";
                            echo "<span class='time'>".$arr_skill[$a]['now']."</span>";
                            echo "<span class='ds-thread-count' data-thread-key='".$Easycode->encode($arr_skill[$a]['id'])."' data-count-type='comments' ></span>";
                            echo "<span class='readed'>阅读：(".$arr_skill[$a]['readed'].")</span>";
                            echo "</div>";
                            echo "<hr/><div class='box'><div id='content_index'><span>".$arr_skill[$a]['content']."</span></div></div>";
                    }
                    
                }
                
                
            }
            


                ?>
                
                <!-- 多说js加载开始，一个页面只需要加载一次 -->
                <script type="text/javascript">
var duoshuoQuery = {short_name:"mrling"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
                <!-- 多说js加载结束，一个页面只需要加载一次 -->
                
                
            </div>

            
</div>

</div> <include file="Public:footer" />
</div>
