<layout name="layout"/>
<div class="header-ban"></div>	
<include file="shared:header"/>
<div class="register-box">
<div class="header"></div>

<div class="xs-right">
  <div class="title"><span>注册云刊</span></div>

<div class="col-md-8">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  <input type="email" class="form-control" placeholder="您的邮箱"/>
</div>
</div>
<div class="col-md-8">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
  <input type="password" class="form-control" placeholder="您的密码"/>
</div>

</div>
<div class="col-md-8">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
  <input type="password" class="form-control" placeholder="确认密码"/>
</div>
</div>

<div class="col-md-6">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
  <input type="text" class="form-control" placeholder="验证码"/>
</div>
</div>
<div class="col-md-6">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
  <input type="text" class="form-control" placeholder="验证码"/>
</div>
</div>

<div class="col-md-8">
<buton type="button" class="btn btn-danger">登录</buton>
<div class="user-link">
<ul>
  <li><a href="" class="forget-pw">忘记密码</a></li>
  <li><a href="">免费注册</a></li>
</ul>
</div>
</div>
</div>



</div>




