<layout name="layout"/>
<div class="header-ban"></div>
<include file="shared:header"/>
<div class="wrapper">

	<span class="visible-lg-block">
		<include file="shared:bookshelf_left"/>
	</span>
	<span class="visible-lg-block visible-md-block">
		<div class="indiv-content">
			<include file="shared:individual_head"/>
			<div class="set-content">
				<div class="word">
					<span> <strong>尽快完善资料，让其他云刊小伙伴认识你把~</strong>
					</span>
				</div>
				<ul>
				<form method="post" action="">
					<table>

						<tr>
							<td>
								<div class="input-group">
									<h4>
										<span class="label label-success">昵称：您的密码</span>
									</h4>
								</td>
								<td>
									<span class="label label-default ">
										<a href="">修改</a>
									</span>
									<td><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="昵称主要出现在导航、阅读、设置等期刊云服务中"></span></td>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="input-group">
									<h4>
										<span class="label label-Primary ">邮箱：1013953532@qq.com</span>
									</h4>
								</td>
								<td>
									<span class="label label-default ">
										<a href="">修改</a>
									</span>
									<td><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="邮箱用来修改密码、找回密码等"></span></td>
								</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="input-group">
									<h4>
										<span class="label label-warning ">年龄：20</span>
									</h4>
								</td>
								<td>
									<span class="label label-default ">
										<a href="">修改</a>
									</span>
									<td><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="为了云刊提供给您更优质的服务"></span></td>
								</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="input-group">
									<h4>
										<span class="label label-danger ">手机：18555555555</span>
									</h4>
								</td>
								<td>
									<span class="label label-default ">
										<a href="">修改</a>
									</span>
									<td><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="手机号码用于购买绑定是相关服务"></span></td>
								</div>
							</td>
						</tr>

					</table>
				</form>
			</ul>
			</div>

		</div>
	</span>

</div>

<script type="text/javascript" src="__ROOT__/script/js/jquery-2.1.1.min.js"></script>
<script>
 $(function () { $('[data-toggle="tooltip"]').tooltip() }) //开启工具提示
</script>