<layout name="layout"/>
<div class="header-ban"></div>  
<include file="shared:header"/>
<div class="wrapper">

<span class="visible-lg-block">
<include file="shared:bookshelf_left"/>
</span>
<span class="visible-lg-block visible-md-block">
<div class="indiv-content">
	<include file="shared:individual_head"/>
	
	<div class="set-content">
	<div class="word">
					<span> <strong>书中自有颜如玉，书中自有黄金屋，收藏经典绝唱~</strong>
					</span>
				</div>	
		<ul>
			<li><strong>暂无收藏记录</strong></li>
			<li class="gray">担心所看的书籍下次找不到？快来收藏吧！</li>
			<li><button type="button" class="btn btn-danger">马上去收藏书籍</button></li>
		</ul>
	</div>

</div>
</span>



</div>
<script type="text/javascript">
})
	</script>