<layout name="layout"/>
<div class="header-ban"></div>  
<include file="shared:header"/>
<div class="wrapper">

<span class="visible-lg-block">
<include file="shared:bookshelf_left"/>
</span>
<span class="visible-lg-block visible-md-block">
<div class="indiv-content">
	<include file="shared:individual_head"/>
	<div class="set-content">
		<div class="word">
					<span> <strong>完善自己的资料，让别人更深入的了解你吧~</strong>
					</span>
				</div>
		<ul>
			<li>真实姓名：</li>
			<li>性别：</li>
			<li>生日：</li>
			<li>身高：</li>
			<li>毕业院校：</li>
			<li>职业：</li>
			<li>居住地：</li>
			<li>家乡：</li>
			<li><button type="button" class="btn btn-danger">修改</button></li>
		</ul>
	</div>

</div>
</span>



</div>
