<layout name="layout"/>
<div class="header-ban"></div>  
<include file="shared:header"/>
<div class="wrapper">

<span class="visible-lg-block">
<include file="shared:bookshelf_left"/>
</span>
<span class="visible-lg-block visible-md-block">
<div class="indiv-content">
	<include file="shared:individual_head"/>
	<div class="set-content">
	<div class="word">
					<span> <strong>完善自己的兴趣爱好，彰显自己的个性吧~</strong>
					</span>
				</div>
		<ul>
			<li><span class="label label-warning ">书籍</span><div id="triangle-down"></div></li>
			<li><div class="border"><a href="">《安徒生的童话》</a> 《哈利波特与魔法石》 《百年孤独》 《白雪公主》 《七个小矮人》 《卖姑娘的小火柴》</div></li>
			<li><span class="label label-warning ">电影</span><div id="triangle-down"></div></li><li>《安徒生的童话》 《哈利波特与魔法石》 《百年孤独》 《白雪公主》 《七个小矮人》 《卖姑娘的小火柴》</li>
			<li><span class="label label-warning ">欣赏作家</span><div id="triangle-down"></div></li><li>《安徒生的童话》 《哈利波特与魔法石》 《百年孤独》 《白雪公主》 《七个小矮人》 《卖姑娘的小火柴》</li>
			<li><span class="label label-warning ">其他爱好</span><div id="triangle-down"></div></li><li>《安徒生的童话》 《哈利波特与魔法石》 《百年孤独》 《白雪公主》 《七个小矮人》 《卖姑娘的小火柴》</li>
			<li><button type="button" class="btn btn-danger">修改</button></li>
		</ul>
	</div>

</div>
</span>



</div>
<script type="text/javascript" src="__ROOT__/script/js/jquery-2.1.1.min.js"></script>
<script>
 $(function () { $('[data-toggle="tooltip"]').tooltip() }) //开启工具提示
</script>