<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="__ROOT__/Public/zui/dist/css/zui.min.css" rel="stylesheet">
	<link href="__ROOT__/Public/zui/assets/datetimepicker/css/datetimepicker.min.css" rel="stylesheet">
	<link href="__ROOT__/Public/zui/assets/chosen/css/chosen.min.css" rel="stylesheet">

	<import type="css" file="admin.css.admin"/>
	<import type='js'  file='admin.js.admin'/>
 <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection"content="telephone=no, email=no" />
</head>
<body>
	{__CONTENT__}
	<script src="__ROOT__/Public/zui/assets/jquery.js"></script>
	<script src="__ROOT__/Public/zui/dist/js/zui.min.js"></script>
	<script src="__ROOT__/Public/zui/assets/datetimepicker/js/datetimepicker.min.js"></script>
	<script src="__ROOT__/Public/zui/assets/chosen/js/chosen.jquery.min.js"></script>
	<script src="__ROOT__/Public/zui/assets/chosen/js/chosen.icons.min.js" type="text/javascript"></script>
	<script src="__ROOT__/Public/zui/assets/kindeditor/kindeditor-all-min.js"></script>
	<script src="__ROOT__/Public/zui/docs/js/doc.js"></script>
	<script src="__ROOT__/Public/zui/assets/google-code-prettify/prettify.js"></script>

</body>
</html>