<!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
   
 	<title>后台首页</title>
 	 <include file='Public:header'/>
 <import type='js'  file='admin.js.admin'/>
 <import type='css'  file='admin.css.input'/>
  <link href="__ROOT__/Public/zui/dist/css/zui.min.css" rel="stylesheet">
  <link href="__ROOT__/Public/zui/assets/datetimepicker/css/datetimepicker.min.css" rel="stylesheet">
  <link href="__ROOT__/Public/zui/assets/chosen/css/chosen.min.css" rel="stylesheet">
  <link href="__ROOT__/Public/zui/docs/css/doc.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../../../Public/admin/css/admin.css"/>
<import type='js'  file='admin.js.jquery171mini'/>
 </head>
 <body>
 <include file='Public:header'/>
 {__CONTENT__}

  <script src="__ROOT__/Public/zui/assets/jquery.js"></script>
  <script src="__ROOT__/Public/zui/dist/js/zui.min.js"></script>
  <script src="__ROOT__/Public/zui/assets/datetimepicker/js/datetimepicker.min.js"></script>
  <script src="__ROOT__/Public/zui/assets/chosen/js/chosen.jquery.min.js"></script>
  <script src="__ROOT__/Public/zui/assets/chosen/js/chosen.icons.min.js" type="text/javascript"></script>
  <script src="__ROOT__/Public/zui/assets/kindeditor/kindeditor-all-min.js"></script>
  <script src="__ROOT__/Public/zui/docs/js/doc.js"></script>
  <script src="__ROOT__/Public/zui/assets/google-code-prettify/prettify.js"></script>
 </body>
 </html> 