<layout name="layout"/>
<div class="header-ban"></div>  
<include file="shared:header"/>
<div class="wrapper">

<span class="visible-lg-block">
<include file="shared:bookshelf_left"/>
</span>
<div class="book-content">
	<div><h4><span class="glyphicon glyphicon-flash"></span>  最新上架</h4></div>
  <div style="text-align:right"> 更多</div>
	<hr/>

  <div class="row">

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b1.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>安徒生的童话</h3>
            <p>安徒生童话是丹麦作家安徒生的童话作品，也是世界上最有名的童话作品集之一</p>
             <p><a href="#" class="btn btn-danger" role="button">购买</a> <a href="#" class="btn btn-primary" role="button">详情</a></p>
          </div>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b2.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>卖姑娘的小火柴</h3>
            <p>《卖火柴的小女孩》是丹麦著名童话故事作家安徒生的一篇著名的童话故事</p>
             <p><a href="#" class="btn btn-danger" role="button">购买</a> <a href="#" class="btn btn-primary" role="button">详情</a></p>

          </div>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b4.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>百年孤独</h3>
            <p>《百年孤独》，是哥伦比亚作家加西亚·马尔克斯的代表作，也是拉丁美洲魔幻</p>
             <p><a href="#" class="btn btn-danger" role="button">购买</a> <a href="#" class="btn btn-primary" role="button">详情</a></p>

          </div>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b5.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>校花贴身高手</h3>
            <p>《校花的贴身高手》是鱼人二代写的一本网络小说，全书共10卷。</p>
             <p><a href="#" class="btn btn-danger" role="button">购买</a> <a href="#" class="btn btn-primary" role="button">详情</a></p>

          </div>
  </div>


</div>

<h4><span class="glyphicon glyphicon-eye-open"></span>  最近阅读</h4>
<hr/>
<div class="bj-action">
  <div class="book"><a href="">图书</a></div>
  <div class="journal"><a href="">期刊</a></div>
</div>
<div class="clear"></div>
 <div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b4.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>校花贴身高手</h3>

          </div>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b5.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>校花贴身高手</h3>

          </div>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b6.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>校花贴身高手</h3>

          </div>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b7.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
    <div class="caption">
            <h3>校花贴身高手</h3>

          </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b4.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>

  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b5.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b6.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" src="__ROOT__/script/images/b7.jpg" alt="..." style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
</div>

</div>



<div class="footer-ban"></div>  
</div>
