
<body onload='set()'>


<ul class="nav nav-secondary">
            <li class="active"><a href="__CONTROLLER__/addArticle" onclick="admin_op(0)" target="editor">撰写文章</a></li>
            <li><a href="__CONTROLLER__/adminArticle" onclick="admin_op(1)" target="editor">文章管理</a></li>
            <li><a href="__CONTROLLER__/setUser" onclick="admin_op(2)" target="editor">用户管理</a></li>
            <li><a href="__CONTROLLER__/setAbout" onclick="admin_op(3)" target="editor">关于我</a></li>
            <li><a href="__CONTROLLER__/setTag" onclick="admin_op(4)" target="editor">文章设置</a></li>
            <li><a href="__CONTROLLER__/setFriends" onclick="admin_op(5)" target="editor">邻居管理</a></li>
            <li><a href="__CONTROLLER__/setMap" onclick="admin_op(6)" target="editor">美图管理</a></li>
            <li><a href="__CONTROLLER__/setTime" onclick="admin_op(7)" target="editor">网站历程</a></li>
            <li><a href="__CONTROLLER__/addPlate" onclick="admin_op(8)" target="editor">板块管理</a></li>
            <li><a href="__CONTROLLER__/setAdmin" onclick="admin_op(9)" target="editor">系统设置</a></li>
            <li class="">
              <a class="dropdown-toggle" data-toggle="dropdown" href="###">
                更多 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="">待开发…</a></li>
              </ul>
            </li>
          </ul>
</body>
