<layout name='frame_layout'/>
<br/>
<div class="panel">
	<div class="panel-heading">文章管理</div>
	<div class="panel-body">
		<form method="post">
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon"> <i class="icon-search"></i>
					</span>
					<input class="form-control" type="text" name="seach" value="" id="title_input" placeholder="可按邻居，回车查询" autofocus></div>
				<input style="display:none" type="submit" name="" value=""></div>
		</form>
		<br/>
		<br/>
		<br/>
		<div class="table">
			<table cellspacing="0" class="table table-bordered">
				<tr id="touys">

					<td>邻居</td>
					<td>标语</td>
					<td>传送门</td>
					<td>logo</td>
					<td>时间</td>
					<td  align="center" colspan="3">操作</td>
				</tr>
				<foreach name="selectArticle" item="sel" >
					<tr>

						<form method="post" >
							<td>
								<input type="button" class="btn btn-default" name="message" value="{$sel.nearly}"  />
							</td>
						</form>
						<td>{$sel.message}</td>
						<td>
							<a href="{$sel.link}">{$sel.link}</a>
						</td>
						<td>
							<a href="{$sel.logo}">
								<img src="{$sel.logo}"/>
							</a>
						</td>
						<td>
							<label class="btn btn-default">{$sel.time}</label>
						</td>
						<td>

							<a href="__CONTROLLER__/editorFriends?id={$sel.id}" data-type="iframe" data-toggle="modal" class="btn btn-primary"> <i class="icon-edit"></i>
								编辑
							</a>

						</td>

						<td>
							
											<a href="__CONTROLLER__/delFriends?id={$sel.id}" onclick="return delsure(this)"  class="btn btn-danger"><i class="icon-remove"></i>删除</a>
	
						</td>

					</tr>
				</foreach>

			</table>
			<br/>

			<a href="__CONTROLLER__/addFriends" data-type="iframe" data-toggle="modal" class="btn btn-success">
				<i class="icon-heart"></i>
				添加邻居
			</a>
		</div>
		<div class="fenye">{$page}</div>
		<br/>
		<div id="container">
			<div id="load"></div>
		</div>
		<div id="page"></div>
		<hr />
		<div id="ps">
			友情提示：管理员可编辑、删除文章，可进行模糊查询如：标题、标签、内容，点击相应的标签可进行快速查询，点击标题可跳转到该文章
		</div>
	</div>
</div>