@charset "utf-8";
/* CSS Document */

/* actGotop */
.actGotop{opacity:0.5;position:fixed;_position:absolute;bottom:100px;right:50px;width:40px;height:40px;display:none;}
.actGotop a,.actGotop a:link{color: #fff;text-shadow:0 0 8px #000;font-size: 20px;margin-top:8px;width:150px;height:150px;display:inline-block;background:url(images/blog7year_gotop.png) no-repeat;_background:url(images/blog7year_gotop.gif) no-repeat;outline:none; text-decoration:none;}
.actGotop a:hover{background:url(images/blog7year_gotopd.gif) no-repeat;outline:none;}