<layout name="layout"/>
<div class="header-ban"></div>	
<include file="shared:header"/>
<div class="login-box">
<div class="header"></div>
<span class="visible-sm-block visible-lg-block visible-md-block">
<div class="left">
  <img src="__ROOT__/script/images/rb1.jpg" width="100%">
</div>
</span>
<div class="right">
  <div class="title"><span>登录云刊</span></div>

<div class="center">
<div class="col-md-8">

<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  <input type="text" class="form-control" placeholder="您的注册邮箱"/>
</div>
</div>
<div class="col-md-8">
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
  <input type="text" class="form-control" placeholder="您的密码"/>
</div>
<div class="user-link">
<a href="" class="forget-pw">忘记密码</a>
<a href="">免费注册</a>
<div class="clear"></div>
<buton type="button" class="btn btn-danger">登录</buton>
</div>




</div>
</div>
</div>
<div class="clear"></div>
<hr/>
<include file="shared:footer"/>




</div>




