<layout name='layout'/>
<title>时光荏苒 | MrLing</title>
<import type='js' file='js.mrling'/>
<script type="text/javascript">
   $(function(){
    textcut();
 })
</script>
<div id="container">
    <div id="container_box">
        <volist name="list" id="vo">
            <div id="center_centent">
                
                <div id="author_time" >
                <div class="pancel">
                <div class="title"> <a id="title_a" href="__ROOT__/<php> echo CONTROLLER_NAME;</php>/{$vo.id}">{$vo.title}</a></div>
                <span class='author'>{$vo.author}</span>
                <span class='time'>{$vo.now|strtotime|date="Y,m,d",###}</span>
                <span class="ds-thread-count" data-thread-key="{$vo.id}" data-count-type="comments" ></span>
                <span class='readed'>阅读：({$vo.readed})</span>
                </div>
                <!-- 多说js加载开始，一个页面只需要加载一次 -->
                <script type="text/javascript">
var duoshuoQuery = {short_name:"mrling"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
                <!-- 多说js加载结束，一个页面只需要加载一次 -->
                
                <hr/>
                <div class="box">
                    <div id="content_index">
                     {$vo.content|html_entity_decode}
                    </div>
                </div>
                
            </div>
            
            </div>
        </volist>
        <div class="fenye">{$page}</div>
    </div>
    <include file="Public:footer" />
</div>