
div.guanyu{margin-top:50px;  }
div#boxrad{padding:10px 10px 10px; border:1px solid #CCC;}
div.box{ padding:20px 20px 20px;}
div.guanyu #box_shor{position:relative;box-shadow:0 0 0px #888;background:#fff;}
div#boxrad span{ position:relative; height:20px; top:-20px; background:#FFF; width:4em; color:#09F}

