@charset "utf-8";
/* CSS Document */


div.boxcontent{background: #F0F5F9;}
div.boxcontent #title h4{ padding:20px 20px 10px; font-size: 1.6rem;color: #1b1b1b;}
div#biaoqian,#befor,#next{ padding:12px 20px 0px ;}
#biaoqian span a{color: #1b1b1b;}
div#title{}
div#content{padding:20px 20px 10px !important;overflow:hidden;font-size: 1.2rem;
color: #1b1b1b;
    line-height: 2.5rem;
    word-wrap: break-word;
    word-break: break-all;
    background: #F0F5F9;
    text-align:justify; text-justify:inter-ideograph;
}
div#duoshuo{}
div#zuozhe{color:#666; padding:0px 20px 0px;}
div#boxcontent_box img{ width:100%; }
div#boxcontent_box video{display:none;}
div#boxcontent_box{ position:relative; }
div#boxcontent_box embed{max-width: 100%;max-height: 300px;}
div#befor a,#next a{ color: #1b1b1b;}
div#zuozhe a{color:#666}
div#nowLoation{ font-size: 1rem; color: #fff; padding: 15px 10px ;
background: #3399FF;
}

 .index{height: 40px;background-image:none;background: #3399FF;}
div#nowLoation p{position: relative;}
div#nowLoation a{color: #fff!important;}
.ds-thread{padding: 10px 30px!important;}
