@charset "utf-8";
/* CSS Document */

div#lanmu_box{ background:#FFF;}
div#lanmu_box div{padding:5px 5px 5px;}
div#lanmu_box span{padding:5px 5px 5px;box-shadow:0 0 2px #fff; color:#000}
span.lj{box-shadow:0 0 2px #fff; background:#; }
span.lj a{transition:text-decoration 1s; color:#000; text-decoration:overline;padding: 10px 10px 10px;}
span.lj:hover{}
span.lj a:hover{text-decoration:underline;color:#0C0;}
div#linju_require li{text-align:left;color:#0C0;padding:5px 5px 5px;}
div#ds{background:#FFF;}