
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	  <meta content="yes" name="apple-mobile-web-app-capable">
	  <meta content="black" name="apple-mobile-web-app-status-bar-style">
	  <meta name="format-detection" content="telephone=no, email=no">
<foreach name="list" item="vo" >
<title></title>
<layout name="Mtlayout"/>
<import type="css" file="MT.css.detailed" />
<link rel="shortcut icon" href="Public/images/title.png" />
<link rel="stylesheet" href="kindeditor-4.1.10/plugins/code/shCoreDefault.css" />
<script charset="utf-8" src="kindeditor-4.1.10/plugins/code/shCore.js"></script>
<script type="text/javascript">      
//为了在编辑器之外能展示高亮代码
//SyntaxHighlighter.all();   

//$("#zuozhe").find("a").live("click",function(){
//		srcHeight=$(document).height(); 
//		$('html,body').animate({scrollTop: srcHeight}, 800);	
//	})
	
$(function(){
		//alert($("#title_hidden").val());
		//alert(1);
		document.title=$("#title_hidden").val();
})
	
</script>
</head>

<body>

<div class="boxcontent">
<div id="nowLoation">{$locationArr['__CONTROLLER__']}</div>
<div id="boxcontent_box">
			<article>
            <div id="title"><h4>{$vo.title}</h4></div>
            <div id="zuozhe">{$vo.author}　{$vo.now}<a href="javascript:void()"></a>
			<!-- 多说js加载结束，一个页面只需要加载一次 --></div>
            <div id="content">{$vo.content}</div>
            </article>
            <section>
            <form method="post" action="__CONTROLLER__">
  			<input name="seach_classify" type="hidden" value="{$vo.classify}" />
            <div id="biaoqian"><span> Tags：
            	<php>
  			for($index=0;$index<count($tags);$index++){ 
            $tagsa=$tagdata->where('id=%d',$tags[$index])->select();
            echo "<a id='tag' href='__ROOT__/mt/tagseach/tagid/".$tagsa[0]['id']."'>".($tagsa[0]['tagname'])."</a>&nbsp&nbsp&nbsp" ;
  			}


	  		</php>
</span>
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </div>
            </form>
            <foreach name="before" item="b" >
            <div id="befor">上一篇：<a href="__CONTROLLER__/detailed/id/{$b.id}">{$b.title}</a></div>
            </foreach>
            <foreach name="after" item="a" >
            <div id="next">下一篇：<a href="__CONTROLLER__/detailed/id/{$a.id}">{$a.title}</a></div>
            </foreach>
			<input id="title_hidden" name="" type="hidden" value="{$locationArr['htmltitle']}" />
           
            </foreach>
            </section>
            <section>
            <div id="duoshuo">
            <!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="{$vo.id}" data-title="{$vo.title}" data-url="http://{$HTTP_HOST}/__CONTROLLER__/detailed/id/{$vo.id}"></div>
			<!-- 多说评论框 end -->
			<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
			<script type="text/javascript">
			var duoshuoQuery = {short_name:"mrling"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] 
					 || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
				</script>
			<!-- 多说公共JS代码 end -->
			            </div>
			            </section>
</div>
</div>
   <include file="Mt:footer" />

</body>
</html>