{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<title></title>

</head>
<script type="text/javascript">
	$("head").append("<link rel='shortcut icon' type='image/x-icon' href='http://{$webinfo['server']}/favicon.png' />");
</script>
<body>

 <div class="Footer">


<div id="M_c">
 <!--<div id="timebox">
<div id="nowTime"></div> 
</div>-->

<div id="copy">&copy;{$webinfo['time']} 
<a href="http://{$webinfo['server']}">{$webinfo['name']}</a>
{$webinfo['icp']}
</div>
<div id="change"><a href="">手机版</a>	<a href="">电脑版</a></div>
</div>

</div>
</body>
</html>