<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="qc:admins" content="14533242456523466375" />
	<meta charset="UTF-8">
	<meta name="keywords" content="汉服青史的个人博客博客,汉服青史博客,汉服青史的空间，陈小宁博客" />
	<meta name="description" content="一个分享心情记事，学习笔记的个人博客，这里有原创的韵脚诗句,也有分享的趣事，你可以认识其他朋友，也可以学到一些技术。">
	<meta property="qc:admins" content="14533245246511673016375" />


<title>汉服青史</title>
<import type="css" file="css.center" />
<import type='css' file='css.head'/>
<import type="css" href="css.message" />	
<import type='js' file='js.jquery171mini'/>
<import type="css" file="css.detailed" />
<!-- hanfuqingshi.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?fd9b02e18d52086b63297f6247b8235a";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<include file="Public:head" />
<div id="Layer1" style="">    
 </div>

{__CONTENT__}
<include file="Public:gotop" />
<import type='js' file='js.mrling'/>
<script type="text/javascript" src="__ROOT__/Public/js/jquery.lazyload.js"></script>

</body>
</html>
