
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	  <meta content="yes" name="apple-mobile-web-app-capable">
	  <meta content="black" name="apple-mobile-web-app-status-bar-style">
	  <meta name="format-detection" content="telephone=no, email=no">
	
	
<import type='css' file='MT.css.head'/>
<import type="css" file="MT.css.footer" />
<import type='js' file='js.jquery171mini'/>
<import type='js' file='MT.js.iframe'/>
<import file="js.timeover" type="js" />	
<import type="css" file="MT.css.bg"/>
<title>汉服青史-移动端</title>
<style type="text/css">

</style>
<!-- hanfuqingshi.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?fd9b02e18d52086b63297f6247b8235a";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="wrap-page-webapp">
<div class="wrap-page">

{__CONTENT__}	
</div>
</div>

</body>
</html>
