<layout name="layout"/>
<div class="header-ban"></div>	
<include file="shared:header"/>
<div class="rbook-box">
<div class="content-read">
	<div class="head-read">
		<span class="title"><h3>温家宝总理的遗产<span class="time">2014-10-08</span></h3></span>
	<hr/></div>
	<div class="read-short">
	<div class="bs-callout bs-callout-danger">
		<div>导读：给我饿哦我换个哦的收入是你爱国爱国回到啊爱人和阿尔阿尔。</div>
		<div>图标类不能和其它组件直接联合使用。它们不能在同一个元素上与其他类共同存在。应该创建一个嵌套的 <code>&lt;span&gt;</code> 标签，并将图标类应用到这个 <code>&lt;span&gt;</code> 标签上。</div>
  </div>
		
	</div>
	<span class="visible-md-block visible-lg-block visible-sm-block">
	<div class="article">
		<div class="article-left">
		<div class="img"><img src="__ROOT__/script/images/rb1.jpg" width="95%" height="60%"></div>
		<span class="title-shor"><h3>他是梁启超所说的那类英雄：时势所造之英雄</h3></span>
		<span class="cantact"><h3>正如他所说的，让我们忘记他，但我们应当怀念他</h3></span>
		<div class="content-frist">正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。</div>
		
		<div class="content-scend">正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。</div>
		
		</div>
		<div class="article-right">
		<div class="content-thirth">正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。</div>
	</div>
	</div>
</span>

<span class="visible-xs-block">
	<div class="article-xs">
		<div class="article-left">
		<div class="img"><img src="__ROOT__/script/images/rb1.jpg" width="95%" height="60%"></div>
		<span class="title-shor"><h3>他是梁启超所说的那类英雄：时势所造之英雄</h3></span>
		<span class="cantact"><h3>正如他所说的，让我们忘记他，但我们应当怀念他</h3></span>
		<div class="content">正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。
		
		正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。正文：法尔冰红茶就是爽我不知道你在干什么，感觉好厉害的样子。</div>
	</div>
	</div>
</span>
	<div class="clear"></div>
	<div class="page"><a href="#"><span class="prev"><img src="__ROOT__/script/images/prev-black.png" ></span><span class="prev-gray"><img src="__ROOT__/script/images/prev-while.png" ></span></a>
	<div class="page-row">1/3</div>
	<a href="#"><span class="next"><img src="__ROOT__/script/images/next-black.png"></span><span class="next-gray"><img src="__ROOT__/script/images/next-while.png" ></span></a>
	
	</div>

</div>

</div>
<div class="clear"></div>
<div class="footer-ban"></div>	



